## This file would contain the RG name of the storage account that holds the tfstate file, the 
##   storage account name where the tfstate file would be included, the 
##   container name where the tfstate file would be located, the name of 
##   the resources tfstate file, and the Azure subscription ID.

resource_group_name  = ""
storage_account_name = ""
container_name       = ""
key                  = "us-coolapp-srv01.tfstate"
subscription_id      = ""